/* ----- BASE ----- */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  text-wrap: balance;
}

html {
  scroll-behavior: smooth;
}

/* Classes usadas diretamente no HTML */
/* -- DISPLAY -- */
.hidden {
  display: none;
}

/* -- MEASURES - MARGIN -- */
.mg-1 {
  margin: 1em;
}

.mt-05 {
  margin-top: 0.5em;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mt-5 {
  margin-top: 5em;
}

.mr-05 {
  margin-right: 0.5em;
}

.mr-1 {
  margin-right: 1em;
}

.mr-2 {
  margin-right: 2em;
}

.mr-5 {
  margin-right: 5em;
}

.mr-10 {
  margin-right: 10em;
}

.ml-1 {
  margin-left: 1em;
}

.ml-2 {
  margin-left: 2em;
}

.ml-5 {
  margin-left: 5em;
}

.mb-05 {
  margin-bottom: 0.5em;
}

.mb-1 {
  margin-bottom: 1.2em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mb-5 {
  margin-bottom: 5em;
}

/* -- MEASURES - PADDING -- */
.pg-1 {
  padding: 1em;
}

.pt-05 {
  padding-top: 0.5em;
}

.pt-1 {
  padding-top: 1em;
}

.pt-2 {
  padding-top: 2em;
}

.pt-5 {
  padding-top: 5em;
}

.pb-05 {
  padding-bottom: 0.5em;
}

.pb-1 {
  padding-bottom: 1em;
}

.pb-2 {
  padding-bottom: 2em;
}

.pb-5 {
  padding-bottom: 5em;
}

/* -- BORDER -- */
.bt {
  border-top: 0.01em solid black;
}

.br {
  border-right: 0.01em solid black;
}

.bb {
  border-bottom: 0.01em solid black;
}

.bl {
  border-left: 0.01em solid black;
}

/* ----- LAYOUT ----- */
* {
  font-family: "Fira Sans", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  padding: 1em;
}
header #logo-name-home-index {
  color: white;
  font-size: 1.7em;
}
header nav {
  display: flex;
  flex-direction: column;
  align-items: end;
}
@media (min-width: 768px) {
  header nav {
    display: flex;
    flex-direction: row;
  }
}
header nav .open-close-hamb-menu {
  text-align: right;
  font-size: 1.01em;
}
@media (min-width: 768px) {
  header nav .open-close-hamb-menu {
    display: none;
  }
}
header nav ul {
  position: absolute;
  margin-top: 2em;
}
@media (min-width: 768px) {
  header nav ul {
    position: relative;
    margin-top: auto;
  }
}
header nav ul .options-holder {
  text-align: right;
  transition: transform 0.2s;
}
@media (min-width: 768px) {
  header nav ul .options-holder {
    display: inline-flex;
    margin-right: 0.5em;
  }
}
header nav ul .options-holder:hover {
  transform: translateX(-8px);
}
@media (min-width: 768px) {
  header nav ul .options-holder:hover {
    transform: none;
    transition: none;
  }
}
header nav ul .options-holder .links {
  font-weight: 300;
  color: white;
}

main #hero {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("/src/assets/img/bench-accounting-hero-bg-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main #hero .container-name-logo-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: rgba(17, 17, 17, 0.5490196078);
}
main #hero .container-name-logo-hero .container-padding-in-front-overlay {
  padding: 1em;
  color: white;
}
main #hero .container-name-logo-hero .container-padding-in-front-overlay .application-name-title {
  font-size: 3em;
}
@media (min-width: 768px) {
  main #hero .container-name-logo-hero .container-padding-in-front-overlay .container-description-bellow-application-name {
    display: flex;
    flex-direction: column;
  }
}
main #hero .container-name-logo-hero .container-padding-in-front-overlay .container-description-bellow-application-name .second-description {
  font-size: 0.9em;
  font-weight: 300;
}
@media (min-width: 768px) {
  main #hero .container-name-logo-hero .container-padding-in-front-overlay .container-description-bellow-application-name .second-description {
    margin: 1em 5em;
  }
}
main #hero .container-name-logo-hero .container-padding-in-front-overlay .container-description-bellow-application-name .second-description .redirect-link {
  background-color: #2e59ce;
  color: white;
  padding: 0 0.2em;
}

/* ----- MODULES ----- */
.btn-primary {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
}

/* ----- STATE ----- */
/* ----- THEME ----- *//*# sourceMappingURL=main.css.map */