/* ----- BASE ----- */
/* ----- IMPORTS ----- */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* ----- FONTS ----- */
/* -- type -- */
/* -- size -- */
/* -- weight -- */
/* -- style -- */
/* ----- COLORS ----- */
/* -- main -- */
/* -- others -- */
/* ----- DEFAUTLT ARRANGEMENTS ----- */
/* ----- SPECIFIC ARRANGEMENTS ----- */
/* -- padding -- */
/* -- margin -- */
/* ----- OTHERS ----- */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  text-wrap: balance;
}

html {
  scroll-behavior: smooth;
}

/* ----- IMPORTS ----- */
/* ----- FONTS ----- */
/* -- type -- */
/* -- size -- */
/* -- weight -- */
/* -- style -- */
/* ----- COLORS ----- */
/* -- main -- */
/* -- others -- */
/* ----- DEFAUTLT ARRANGEMENTS ----- */
/* ----- SPECIFIC ARRANGEMENTS ----- */
/* -- padding -- */
/* -- margin -- */
/* ----- OTHERS ----- */
/* Classes usadas diretamente no HTML */
/* -- DISPLAY -- */
.hidden {
  display: none;
}

/* -- MEASURES - MARGIN -- */
.mg-1 {
  margin: 1em;
}

.mt-05 {
  margin-top: 0.5em;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mt-5 {
  margin-top: 5em;
}

.mr-05 {
  margin-right: 0.5em;
}

.mr-1 {
  margin-right: 1em;
}

.mr-2 {
  margin-right: 2em;
}

.mr-5 {
  margin-right: 5em;
}

.mr-10 {
  margin-right: 10em;
}

.ml-1 {
  margin-left: 1em;
}

.ml-2 {
  margin-left: 2em;
}

.ml-5 {
  margin-left: 5em;
}

.mb-05 {
  margin-bottom: 0.5em;
}

.mb-1 {
  margin-bottom: 1.2em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mb-5 {
  margin-bottom: 5em;
}

/* -- MEASURES - PADDING -- */
.pg-1 {
  padding: 1em;
}

.pt-05 {
  padding-top: 0.5em;
}

.pt-1 {
  padding-top: 1em;
}

.pt-2 {
  padding-top: 2em;
}

.pt-5 {
  padding-top: 5em;
}

.pb-05 {
  padding-bottom: 0.5em;
}

.pb-1 {
  padding-bottom: 1em;
}

.pb-2 {
  padding-bottom: 2em;
}

.pb-5 {
  padding-bottom: 5em;
}

/* -- BORDER -- */
.bt {
  border-top: 0.01em solid black;
}

.br {
  border-right: 0.01em solid black;
}

.bb {
  border-bottom: 0.01em solid black;
}

.bl {
  border-left: 0.01em solid black;
}

/* -- SEPARATORS -- */
.ls {
  display: grid;
  place-self: center;
  width: 100%;
  height: 0.1em;
  background-color: rgba(156, 156, 156, 0.5725490196);
  margin-top: 1.1em;
}

.ls-accordion {
  display: grid;
  place-self: center;
  width: 100%;
  height: 0.1em;
  background-color: rgba(156, 156, 156, 0.5725490196);
}

/* -- JUST FOR MAIN -- */
.main-content {
  min-height: 100vh;
  margin: 1em;
}

/* ----- IMPORTS ----- */
/* ----- FONTS ----- */
/* -- type -- */
/* -- size -- */
/* -- weight -- */
/* -- style -- */
/* ----- COLORS ----- */
/* -- main -- */
/* -- others -- */
/* ----- DEFAUTLT ARRANGEMENTS ----- */
/* ----- SPECIFIC ARRANGEMENTS ----- */
/* -- padding -- */
/* -- margin -- */
/* ----- OTHERS ----- */
/* ----- LAYOUT ----- */
/* ----- IMPORTS ----- */
/* ----- FONTS ----- */
/* -- type -- */
/* -- size -- */
/* -- weight -- */
/* -- style -- */
/* ----- COLORS ----- */
/* -- main -- */
/* -- others -- */
/* ----- DEFAUTLT ARRANGEMENTS ----- */
/* ----- SPECIFIC ARRANGEMENTS ----- */
/* -- padding -- */
/* -- margin -- */
/* ----- OTHERS ----- */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
header .container-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
}
header .container-navbar .logo {
  font-style: italic;
  font-size: 1.4em;
  color: white;
}
header .container-navbar .container-menu-options .menu-options-holder {
  display: flex;
  justify-content: center;
}
header .container-navbar .container-menu-options .menu-options-holder .options-holder {
  margin: 0.4em;
  font-weight: 400;
  font-family: "Cormorant Garamond", serif;
}
header .container-navbar .container-menu-options .menu-options-holder .options-holder .links {
  color: white;
}
header .container-navbar .container-menu-options .menu-options-holder .options-holder .holder-menu {
  border: 3px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .container-navbar .container-menu-options .menu-options-holder .options-holder .holder-menu #icon {
  cursor: pointer;
}
/* ----- IMPORTS ----- */
/* ----- FONTS ----- */
/* -- type -- */
/* -- size -- */
/* -- weight -- */
/* -- style -- */
/* ----- COLORS ----- */
/* -- main -- */
/* -- others -- */
/* ----- DEFAUTLT ARRANGEMENTS ----- */
/* ----- SPECIFIC ARRANGEMENTS ----- */
/* -- padding -- */
/* -- margin -- */
/* ----- OTHERS ----- */
#hero-content .container-general {
  min-height: 100vh;
  background-color: #406ce7;
}
#hero-content .container-general .container-main-texts {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hero-content .container-general .container-main-texts .logo-name-project {
  font-style: italic;
  font-size: 10em;
}
#hero-content .container-general .container-main-texts .desc-project {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.2em;
  color: white;
}
#hero-content .container-general .icon-holder {
  position: absolute;
  right: 0;
  bottom: 1.5em;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#hero-content .container-general .icon-holder .explore {
  color: white;
  font-family: "Cormorant Garamond", serif;
}
#hero-content .container-general .icon-holder #icon {
  transform: translateY(0.5em);
  width: 1.1em;
}

/* ----- IMPORTS ----- */
/* ----- FONTS ----- */
/* -- type -- */
/* -- size -- */
/* -- weight -- */
/* -- style -- */
/* ----- COLORS ----- */
/* -- main -- */
/* -- others -- */
/* ----- DEFAUTLT ARRANGEMENTS ----- */
/* ----- SPECIFIC ARRANGEMENTS ----- */
/* -- padding -- */
/* -- margin -- */
/* ----- OTHERS ----- */
@media screen and (min-width: 1024px) {
  #about-one .container-mediaQuery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
#about-one .container-mediaQuery .container-texts {
  font-family: "Cormorant Garamond", serif;
}
#about-one .container-mediaQuery .container-texts .title-about-one {
  font-size: 2.5em;
}
#about-one .container-mediaQuery .container-texts .sub-title-about-one {
  margin: 0 0 1.1em 0;
}
#about-one .container-mediaQuery .container-texts .container-link-see-more {
  display: flex;
  align-items: center;
  margin-top: 1.1em;
}
#about-one .container-mediaQuery .container-texts .container-link-see-more .view-more-link {
  color: #406ce7;
}
#about-one .container-mediaQuery .container-texts .container-link-see-more #icon-see-more {
  margin-left: 0.4em;
  width: 1em;
}
@media screen and (min-width: 1024px) {
  #about-one .container-mediaQuery .container-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #about-one .container-mediaQuery .container-image #img {
    width: 30em;
  }
}

/* ----- IMPORTS ----- */
/* ----- FONTS ----- */
/* -- type -- */
/* -- size -- */
/* -- weight -- */
/* -- style -- */
/* ----- COLORS ----- */
/* -- main -- */
/* -- others -- */
/* ----- DEFAUTLT ARRANGEMENTS ----- */
/* ----- SPECIFIC ARRANGEMENTS ----- */
/* -- padding -- */
/* -- margin -- */
/* ----- OTHERS ----- */
#dynamic-content #university .container-accordion, #dynamic-content #carrer .container-accordion, #dynamic-content #hobby .container-accordion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
#dynamic-content #university .container-accordion .indicator-text, #dynamic-content #carrer .container-accordion .indicator-text, #dynamic-content #hobby .container-accordion .indicator-text {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-size: 1.1em;
  padding: 1.1em 0 1.1em 0;
}
#dynamic-content #university .container-accordion .open-close-accordion, #dynamic-content #carrer .container-accordion .open-close-accordion, #dynamic-content #hobby .container-accordion .open-close-accordion {
  font-size: 1.4em;
}
#dynamic-content #university .container-see-more-overlay-uni .overlay-uni,
#dynamic-content #university .container-see-more-overlay-uni .overlay-carrer,
#dynamic-content #university .container-see-more-overlay-uni .overlay-hobby,
#dynamic-content #university .container-see-more-overlay-carrer .overlay-uni,
#dynamic-content #university .container-see-more-overlay-carrer .overlay-carrer,
#dynamic-content #university .container-see-more-overlay-carrer .overlay-hobby,
#dynamic-content #university .container-see-more-overlay-hobby .overlay-uni,
#dynamic-content #university .container-see-more-overlay-hobby .overlay-carrer,
#dynamic-content #university .container-see-more-overlay-hobby .overlay-hobby, #dynamic-content #carrer .container-see-more-overlay-uni .overlay-uni,
#dynamic-content #carrer .container-see-more-overlay-uni .overlay-carrer,
#dynamic-content #carrer .container-see-more-overlay-uni .overlay-hobby,
#dynamic-content #carrer .container-see-more-overlay-carrer .overlay-uni,
#dynamic-content #carrer .container-see-more-overlay-carrer .overlay-carrer,
#dynamic-content #carrer .container-see-more-overlay-carrer .overlay-hobby,
#dynamic-content #carrer .container-see-more-overlay-hobby .overlay-uni,
#dynamic-content #carrer .container-see-more-overlay-hobby .overlay-carrer,
#dynamic-content #carrer .container-see-more-overlay-hobby .overlay-hobby, #dynamic-content #hobby .container-see-more-overlay-uni .overlay-uni,
#dynamic-content #hobby .container-see-more-overlay-uni .overlay-carrer,
#dynamic-content #hobby .container-see-more-overlay-uni .overlay-hobby,
#dynamic-content #hobby .container-see-more-overlay-carrer .overlay-uni,
#dynamic-content #hobby .container-see-more-overlay-carrer .overlay-carrer,
#dynamic-content #hobby .container-see-more-overlay-carrer .overlay-hobby,
#dynamic-content #hobby .container-see-more-overlay-hobby .overlay-uni,
#dynamic-content #hobby .container-see-more-overlay-hobby .overlay-carrer,
#dynamic-content #hobby .container-see-more-overlay-hobby .overlay-hobby {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7764705882);
  overflow-y: scroll;
}
@media screen and (min-width: 768px) {
  #dynamic-content #university .container-see-more-overlay-uni .overlay-uni,
  #dynamic-content #university .container-see-more-overlay-uni .overlay-carrer,
  #dynamic-content #university .container-see-more-overlay-uni .overlay-hobby,
  #dynamic-content #university .container-see-more-overlay-carrer .overlay-uni,
  #dynamic-content #university .container-see-more-overlay-carrer .overlay-carrer,
  #dynamic-content #university .container-see-more-overlay-carrer .overlay-hobby,
  #dynamic-content #university .container-see-more-overlay-hobby .overlay-uni,
  #dynamic-content #university .container-see-more-overlay-hobby .overlay-carrer,
  #dynamic-content #university .container-see-more-overlay-hobby .overlay-hobby, #dynamic-content #carrer .container-see-more-overlay-uni .overlay-uni,
  #dynamic-content #carrer .container-see-more-overlay-uni .overlay-carrer,
  #dynamic-content #carrer .container-see-more-overlay-uni .overlay-hobby,
  #dynamic-content #carrer .container-see-more-overlay-carrer .overlay-uni,
  #dynamic-content #carrer .container-see-more-overlay-carrer .overlay-carrer,
  #dynamic-content #carrer .container-see-more-overlay-carrer .overlay-hobby,
  #dynamic-content #carrer .container-see-more-overlay-hobby .overlay-uni,
  #dynamic-content #carrer .container-see-more-overlay-hobby .overlay-carrer,
  #dynamic-content #carrer .container-see-more-overlay-hobby .overlay-hobby, #dynamic-content #hobby .container-see-more-overlay-uni .overlay-uni,
  #dynamic-content #hobby .container-see-more-overlay-uni .overlay-carrer,
  #dynamic-content #hobby .container-see-more-overlay-uni .overlay-hobby,
  #dynamic-content #hobby .container-see-more-overlay-carrer .overlay-uni,
  #dynamic-content #hobby .container-see-more-overlay-carrer .overlay-carrer,
  #dynamic-content #hobby .container-see-more-overlay-carrer .overlay-hobby,
  #dynamic-content #hobby .container-see-more-overlay-hobby .overlay-uni,
  #dynamic-content #hobby .container-see-more-overlay-hobby .overlay-carrer,
  #dynamic-content #hobby .container-see-more-overlay-hobby .overlay-hobby {
    display: flex;
    flex-direction: column;
  }
}
#dynamic-content #university .container-see-more-overlay-uni .overlay-uni .close-modal-one,
#dynamic-content #university .container-see-more-overlay-uni .overlay-uni .close-modal-two,
#dynamic-content #university .container-see-more-overlay-uni .overlay-uni .close-modal-three,
#dynamic-content #university .container-see-more-overlay-uni .overlay-carrer .close-modal-one,
#dynamic-content #university .container-see-more-overlay-uni .overlay-carrer .close-modal-two,
#dynamic-content #university .container-see-more-overlay-uni .overlay-carrer .close-modal-three,
#dynamic-content #university .container-see-more-overlay-uni .overlay-hobby .close-modal-one,
#dynamic-content #university .container-see-more-overlay-uni .overlay-hobby .close-modal-two,
#dynamic-content #university .container-see-more-overlay-uni .overlay-hobby .close-modal-three,
#dynamic-content #university .container-see-more-overlay-carrer .overlay-uni .close-modal-one,
#dynamic-content #university .container-see-more-overlay-carrer .overlay-uni .close-modal-two,
#dynamic-content #university .container-see-more-overlay-carrer .overlay-uni .close-modal-three,
#dynamic-content #university .container-see-more-overlay-carrer .overlay-carrer .close-modal-one,
#dynamic-content #university .container-see-more-overlay-carrer .overlay-carrer .close-modal-two,
#dynamic-content #university .container-see-more-overlay-carrer .overlay-carrer .close-modal-three,
#dynamic-content #university .container-see-more-overlay-carrer .overlay-hobby .close-modal-one,
#dynamic-content #university .container-see-more-overlay-carrer .overlay-hobby .close-modal-two,
#dynamic-content #university .container-see-more-overlay-carrer .overlay-hobby .close-modal-three,
#dynamic-content #university .container-see-more-overlay-hobby .overlay-uni .close-modal-one,
#dynamic-content #university .container-see-more-overlay-hobby .overlay-uni .close-modal-two,
#dynamic-content #university .container-see-more-overlay-hobby .overlay-uni .close-modal-three,
#dynamic-content #university .container-see-more-overlay-hobby .overlay-carrer .close-modal-one,
#dynamic-content #university .container-see-more-overlay-hobby .overlay-carrer .close-modal-two,
#dynamic-content #university .container-see-more-overlay-hobby .overlay-carrer .close-modal-three,
#dynamic-content #university .container-see-more-overlay-hobby .overlay-hobby .close-modal-one,
#dynamic-content #university .container-see-more-overlay-hobby .overlay-hobby .close-modal-two,
#dynamic-content #university .container-see-more-overlay-hobby .overlay-hobby .close-modal-three, #dynamic-content #carrer .container-see-more-overlay-uni .overlay-uni .close-modal-one,
#dynamic-content #carrer .container-see-more-overlay-uni .overlay-uni .close-modal-two,
#dynamic-content #carrer .container-see-more-overlay-uni .overlay-uni .close-modal-three,
#dynamic-content #carrer .container-see-more-overlay-uni .overlay-carrer .close-modal-one,
#dynamic-content #carrer .container-see-more-overlay-uni .overlay-carrer .close-modal-two,
#dynamic-content #carrer .container-see-more-overlay-uni .overlay-carrer .close-modal-three,
#dynamic-content #carrer .container-see-more-overlay-uni .overlay-hobby .close-modal-one,
#dynamic-content #carrer .container-see-more-overlay-uni .overlay-hobby .close-modal-two,
#dynamic-content #carrer .container-see-more-overlay-uni .overlay-hobby .close-modal-three,
#dynamic-content #carrer .container-see-more-overlay-carrer .overlay-uni .close-modal-one,
#dynamic-content #carrer .container-see-more-overlay-carrer .overlay-uni .close-modal-two,
#dynamic-content #carrer .container-see-more-overlay-carrer .overlay-uni .close-modal-three,
#dynamic-content #carrer .container-see-more-overlay-carrer .overlay-carrer .close-modal-one,
#dynamic-content #carrer .container-see-more-overlay-carrer .overlay-carrer .close-modal-two,
#dynamic-content #carrer .container-see-more-overlay-carrer .overlay-carrer .close-modal-three,
#dynamic-content #carrer .container-see-more-overlay-carrer .overlay-hobby .close-modal-one,
#dynamic-content #carrer .container-see-more-overlay-carrer .overlay-hobby .close-modal-two,
#dynamic-content #carrer .container-see-more-overlay-carrer .overlay-hobby .close-modal-three,
#dynamic-content #carrer .container-see-more-overlay-hobby .overlay-uni .close-modal-one,
#dynamic-content #carrer .container-see-more-overlay-hobby .overlay-uni .close-modal-two,
#dynamic-content #carrer .container-see-more-overlay-hobby .overlay-uni .close-modal-three,
#dynamic-content #carrer .container-see-more-overlay-hobby .overlay-carrer .close-modal-one,
#dynamic-content #carrer .container-see-more-overlay-hobby .overlay-carrer .close-modal-two,
#dynamic-content #carrer .container-see-more-overlay-hobby .overlay-carrer .close-modal-three,
#dynamic-content #carrer .container-see-more-overlay-hobby .overlay-hobby .close-modal-one,
#dynamic-content #carrer .container-see-more-overlay-hobby .overlay-hobby .close-modal-two,
#dynamic-content #carrer .container-see-more-overlay-hobby .overlay-hobby .close-modal-three, #dynamic-content #hobby .container-see-more-overlay-uni .overlay-uni .close-modal-one,
#dynamic-content #hobby .container-see-more-overlay-uni .overlay-uni .close-modal-two,
#dynamic-content #hobby .container-see-more-overlay-uni .overlay-uni .close-modal-three,
#dynamic-content #hobby .container-see-more-overlay-uni .overlay-carrer .close-modal-one,
#dynamic-content #hobby .container-see-more-overlay-uni .overlay-carrer .close-modal-two,
#dynamic-content #hobby .container-see-more-overlay-uni .overlay-carrer .close-modal-three,
#dynamic-content #hobby .container-see-more-overlay-uni .overlay-hobby .close-modal-one,
#dynamic-content #hobby .container-see-more-overlay-uni .overlay-hobby .close-modal-two,
#dynamic-content #hobby .container-see-more-overlay-uni .overlay-hobby .close-modal-three,
#dynamic-content #hobby .container-see-more-overlay-carrer .overlay-uni .close-modal-one,
#dynamic-content #hobby .container-see-more-overlay-carrer .overlay-uni .close-modal-two,
#dynamic-content #hobby .container-see-more-overlay-carrer .overlay-uni .close-modal-three,
#dynamic-content #hobby .container-see-more-overlay-carrer .overlay-carrer .close-modal-one,
#dynamic-content #hobby .container-see-more-overlay-carrer .overlay-carrer .close-modal-two,
#dynamic-content #hobby .container-see-more-overlay-carrer .overlay-carrer .close-modal-three,
#dynamic-content #hobby .container-see-more-overlay-carrer .overlay-hobby .close-modal-one,
#dynamic-content #hobby .container-see-more-overlay-carrer .overlay-hobby .close-modal-two,
#dynamic-content #hobby .container-see-more-overlay-carrer .overlay-hobby .close-modal-three,
#dynamic-content #hobby .container-see-more-overlay-hobby .overlay-uni .close-modal-one,
#dynamic-content #hobby .container-see-more-overlay-hobby .overlay-uni .close-modal-two,
#dynamic-content #hobby .container-see-more-overlay-hobby .overlay-uni .close-modal-three,
#dynamic-content #hobby .container-see-more-overlay-hobby .overlay-carrer .close-modal-one,
#dynamic-content #hobby .container-see-more-overlay-hobby .overlay-carrer .close-modal-two,
#dynamic-content #hobby .container-see-more-overlay-hobby .overlay-carrer .close-modal-three,
#dynamic-content #hobby .container-see-more-overlay-hobby .overlay-hobby .close-modal-one,
#dynamic-content #hobby .container-see-more-overlay-hobby .overlay-hobby .close-modal-two,
#dynamic-content #hobby .container-see-more-overlay-hobby .overlay-hobby .close-modal-three {
  margin: 1em 0 1em 1em;
  color: white;
}
#dynamic-content #university .container-see-more-overlay-uni .overlay-uni #uni-container-info,
#dynamic-content #university .container-see-more-overlay-uni .overlay-uni #carrer-container-info,
#dynamic-content #university .container-see-more-overlay-uni .overlay-uni #hobby-container-info,
#dynamic-content #university .container-see-more-overlay-uni .overlay-carrer #uni-container-info,
#dynamic-content #university .container-see-more-overlay-uni .overlay-carrer #carrer-container-info,
#dynamic-content #university .container-see-more-overlay-uni .overlay-carrer #hobby-container-info,
#dynamic-content #university .container-see-more-overlay-uni .overlay-hobby #uni-container-info,
#dynamic-content #university .container-see-more-overlay-uni .overlay-hobby #carrer-container-info,
#dynamic-content #university .container-see-more-overlay-uni .overlay-hobby #hobby-container-info,
#dynamic-content #university .container-see-more-overlay-carrer .overlay-uni #uni-container-info,
#dynamic-content #university .container-see-more-overlay-carrer .overlay-uni #carrer-container-info,
#dynamic-content #university .container-see-more-overlay-carrer .overlay-uni #hobby-container-info,
#dynamic-content #university .container-see-more-overlay-carrer .overlay-carrer #uni-container-info,
#dynamic-content #university .container-see-more-overlay-carrer .overlay-carrer #carrer-container-info,
#dynamic-content #university .container-see-more-overlay-carrer .overlay-carrer #hobby-container-info,
#dynamic-content #university .container-see-more-overlay-carrer .overlay-hobby #uni-container-info,
#dynamic-content #university .container-see-more-overlay-carrer .overlay-hobby #carrer-container-info,
#dynamic-content #university .container-see-more-overlay-carrer .overlay-hobby #hobby-container-info,
#dynamic-content #university .container-see-more-overlay-hobby .overlay-uni #uni-container-info,
#dynamic-content #university .container-see-more-overlay-hobby .overlay-uni #carrer-container-info,
#dynamic-content #university .container-see-more-overlay-hobby .overlay-uni #hobby-container-info,
#dynamic-content #university .container-see-more-overlay-hobby .overlay-carrer #uni-container-info,
#dynamic-content #university .container-see-more-overlay-hobby .overlay-carrer #carrer-container-info,
#dynamic-content #university .container-see-more-overlay-hobby .overlay-carrer #hobby-container-info,
#dynamic-content #university .container-see-more-overlay-hobby .overlay-hobby #uni-container-info,
#dynamic-content #university .container-see-more-overlay-hobby .overlay-hobby #carrer-container-info,
#dynamic-content #university .container-see-more-overlay-hobby .overlay-hobby #hobby-container-info, #dynamic-content #carrer .container-see-more-overlay-uni .overlay-uni #uni-container-info,
#dynamic-content #carrer .container-see-more-overlay-uni .overlay-uni #carrer-container-info,
#dynamic-content #carrer .container-see-more-overlay-uni .overlay-uni #hobby-container-info,
#dynamic-content #carrer .container-see-more-overlay-uni .overlay-carrer #uni-container-info,
#dynamic-content #carrer .container-see-more-overlay-uni .overlay-carrer #carrer-container-info,
#dynamic-content #carrer .container-see-more-overlay-uni .overlay-carrer #hobby-container-info,
#dynamic-content #carrer .container-see-more-overlay-uni .overlay-hobby #uni-container-info,
#dynamic-content #carrer .container-see-more-overlay-uni .overlay-hobby #carrer-container-info,
#dynamic-content #carrer .container-see-more-overlay-uni .overlay-hobby #hobby-container-info,
#dynamic-content #carrer .container-see-more-overlay-carrer .overlay-uni #uni-container-info,
#dynamic-content #carrer .container-see-more-overlay-carrer .overlay-uni #carrer-container-info,
#dynamic-content #carrer .container-see-more-overlay-carrer .overlay-uni #hobby-container-info,
#dynamic-content #carrer .container-see-more-overlay-carrer .overlay-carrer #uni-container-info,
#dynamic-content #carrer .container-see-more-overlay-carrer .overlay-carrer #carrer-container-info,
#dynamic-content #carrer .container-see-more-overlay-carrer .overlay-carrer #hobby-container-info,
#dynamic-content #carrer .container-see-more-overlay-carrer .overlay-hobby #uni-container-info,
#dynamic-content #carrer .container-see-more-overlay-carrer .overlay-hobby #carrer-container-info,
#dynamic-content #carrer .container-see-more-overlay-carrer .overlay-hobby #hobby-container-info,
#dynamic-content #carrer .container-see-more-overlay-hobby .overlay-uni #uni-container-info,
#dynamic-content #carrer .container-see-more-overlay-hobby .overlay-uni #carrer-container-info,
#dynamic-content #carrer .container-see-more-overlay-hobby .overlay-uni #hobby-container-info,
#dynamic-content #carrer .container-see-more-overlay-hobby .overlay-carrer #uni-container-info,
#dynamic-content #carrer .container-see-more-overlay-hobby .overlay-carrer #carrer-container-info,
#dynamic-content #carrer .container-see-more-overlay-hobby .overlay-carrer #hobby-container-info,
#dynamic-content #carrer .container-see-more-overlay-hobby .overlay-hobby #uni-container-info,
#dynamic-content #carrer .container-see-more-overlay-hobby .overlay-hobby #carrer-container-info,
#dynamic-content #carrer .container-see-more-overlay-hobby .overlay-hobby #hobby-container-info, #dynamic-content #hobby .container-see-more-overlay-uni .overlay-uni #uni-container-info,
#dynamic-content #hobby .container-see-more-overlay-uni .overlay-uni #carrer-container-info,
#dynamic-content #hobby .container-see-more-overlay-uni .overlay-uni #hobby-container-info,
#dynamic-content #hobby .container-see-more-overlay-uni .overlay-carrer #uni-container-info,
#dynamic-content #hobby .container-see-more-overlay-uni .overlay-carrer #carrer-container-info,
#dynamic-content #hobby .container-see-more-overlay-uni .overlay-carrer #hobby-container-info,
#dynamic-content #hobby .container-see-more-overlay-uni .overlay-hobby #uni-container-info,
#dynamic-content #hobby .container-see-more-overlay-uni .overlay-hobby #carrer-container-info,
#dynamic-content #hobby .container-see-more-overlay-uni .overlay-hobby #hobby-container-info,
#dynamic-content #hobby .container-see-more-overlay-carrer .overlay-uni #uni-container-info,
#dynamic-content #hobby .container-see-more-overlay-carrer .overlay-uni #carrer-container-info,
#dynamic-content #hobby .container-see-more-overlay-carrer .overlay-uni #hobby-container-info,
#dynamic-content #hobby .container-see-more-overlay-carrer .overlay-carrer #uni-container-info,
#dynamic-content #hobby .container-see-more-overlay-carrer .overlay-carrer #carrer-container-info,
#dynamic-content #hobby .container-see-more-overlay-carrer .overlay-carrer #hobby-container-info,
#dynamic-content #hobby .container-see-more-overlay-carrer .overlay-hobby #uni-container-info,
#dynamic-content #hobby .container-see-more-overlay-carrer .overlay-hobby #carrer-container-info,
#dynamic-content #hobby .container-see-more-overlay-carrer .overlay-hobby #hobby-container-info,
#dynamic-content #hobby .container-see-more-overlay-hobby .overlay-uni #uni-container-info,
#dynamic-content #hobby .container-see-more-overlay-hobby .overlay-uni #carrer-container-info,
#dynamic-content #hobby .container-see-more-overlay-hobby .overlay-uni #hobby-container-info,
#dynamic-content #hobby .container-see-more-overlay-hobby .overlay-carrer #uni-container-info,
#dynamic-content #hobby .container-see-more-overlay-hobby .overlay-carrer #carrer-container-info,
#dynamic-content #hobby .container-see-more-overlay-hobby .overlay-carrer #hobby-container-info,
#dynamic-content #hobby .container-see-more-overlay-hobby .overlay-hobby #uni-container-info,
#dynamic-content #hobby .container-see-more-overlay-hobby .overlay-hobby #carrer-container-info,
#dynamic-content #hobby .container-see-more-overlay-hobby .overlay-hobby #hobby-container-info {
  margin: 1em;
  background-color: white;
}
@media screen and (min-width: 768px) {
  #dynamic-content #university .container-see-more-overlay-uni .overlay-uni #uni-container-info,
  #dynamic-content #university .container-see-more-overlay-uni .overlay-uni #carrer-container-info,
  #dynamic-content #university .container-see-more-overlay-uni .overlay-uni #hobby-container-info,
  #dynamic-content #university .container-see-more-overlay-uni .overlay-carrer #uni-container-info,
  #dynamic-content #university .container-see-more-overlay-uni .overlay-carrer #carrer-container-info,
  #dynamic-content #university .container-see-more-overlay-uni .overlay-carrer #hobby-container-info,
  #dynamic-content #university .container-see-more-overlay-uni .overlay-hobby #uni-container-info,
  #dynamic-content #university .container-see-more-overlay-uni .overlay-hobby #carrer-container-info,
  #dynamic-content #university .container-see-more-overlay-uni .overlay-hobby #hobby-container-info,
  #dynamic-content #university .container-see-more-overlay-carrer .overlay-uni #uni-container-info,
  #dynamic-content #university .container-see-more-overlay-carrer .overlay-uni #carrer-container-info,
  #dynamic-content #university .container-see-more-overlay-carrer .overlay-uni #hobby-container-info,
  #dynamic-content #university .container-see-more-overlay-carrer .overlay-carrer #uni-container-info,
  #dynamic-content #university .container-see-more-overlay-carrer .overlay-carrer #carrer-container-info,
  #dynamic-content #university .container-see-more-overlay-carrer .overlay-carrer #hobby-container-info,
  #dynamic-content #university .container-see-more-overlay-carrer .overlay-hobby #uni-container-info,
  #dynamic-content #university .container-see-more-overlay-carrer .overlay-hobby #carrer-container-info,
  #dynamic-content #university .container-see-more-overlay-carrer .overlay-hobby #hobby-container-info,
  #dynamic-content #university .container-see-more-overlay-hobby .overlay-uni #uni-container-info,
  #dynamic-content #university .container-see-more-overlay-hobby .overlay-uni #carrer-container-info,
  #dynamic-content #university .container-see-more-overlay-hobby .overlay-uni #hobby-container-info,
  #dynamic-content #university .container-see-more-overlay-hobby .overlay-carrer #uni-container-info,
  #dynamic-content #university .container-see-more-overlay-hobby .overlay-carrer #carrer-container-info,
  #dynamic-content #university .container-see-more-overlay-hobby .overlay-carrer #hobby-container-info,
  #dynamic-content #university .container-see-more-overlay-hobby .overlay-hobby #uni-container-info,
  #dynamic-content #university .container-see-more-overlay-hobby .overlay-hobby #carrer-container-info,
  #dynamic-content #university .container-see-more-overlay-hobby .overlay-hobby #hobby-container-info, #dynamic-content #carrer .container-see-more-overlay-uni .overlay-uni #uni-container-info,
  #dynamic-content #carrer .container-see-more-overlay-uni .overlay-uni #carrer-container-info,
  #dynamic-content #carrer .container-see-more-overlay-uni .overlay-uni #hobby-container-info,
  #dynamic-content #carrer .container-see-more-overlay-uni .overlay-carrer #uni-container-info,
  #dynamic-content #carrer .container-see-more-overlay-uni .overlay-carrer #carrer-container-info,
  #dynamic-content #carrer .container-see-more-overlay-uni .overlay-carrer #hobby-container-info,
  #dynamic-content #carrer .container-see-more-overlay-uni .overlay-hobby #uni-container-info,
  #dynamic-content #carrer .container-see-more-overlay-uni .overlay-hobby #carrer-container-info,
  #dynamic-content #carrer .container-see-more-overlay-uni .overlay-hobby #hobby-container-info,
  #dynamic-content #carrer .container-see-more-overlay-carrer .overlay-uni #uni-container-info,
  #dynamic-content #carrer .container-see-more-overlay-carrer .overlay-uni #carrer-container-info,
  #dynamic-content #carrer .container-see-more-overlay-carrer .overlay-uni #hobby-container-info,
  #dynamic-content #carrer .container-see-more-overlay-carrer .overlay-carrer #uni-container-info,
  #dynamic-content #carrer .container-see-more-overlay-carrer .overlay-carrer #carrer-container-info,
  #dynamic-content #carrer .container-see-more-overlay-carrer .overlay-carrer #hobby-container-info,
  #dynamic-content #carrer .container-see-more-overlay-carrer .overlay-hobby #uni-container-info,
  #dynamic-content #carrer .container-see-more-overlay-carrer .overlay-hobby #carrer-container-info,
  #dynamic-content #carrer .container-see-more-overlay-carrer .overlay-hobby #hobby-container-info,
  #dynamic-content #carrer .container-see-more-overlay-hobby .overlay-uni #uni-container-info,
  #dynamic-content #carrer .container-see-more-overlay-hobby .overlay-uni #carrer-container-info,
  #dynamic-content #carrer .container-see-more-overlay-hobby .overlay-uni #hobby-container-info,
  #dynamic-content #carrer .container-see-more-overlay-hobby .overlay-carrer #uni-container-info,
  #dynamic-content #carrer .container-see-more-overlay-hobby .overlay-carrer #carrer-container-info,
  #dynamic-content #carrer .container-see-more-overlay-hobby .overlay-carrer #hobby-container-info,
  #dynamic-content #carrer .container-see-more-overlay-hobby .overlay-hobby #uni-container-info,
  #dynamic-content #carrer .container-see-more-overlay-hobby .overlay-hobby #carrer-container-info,
  #dynamic-content #carrer .container-see-more-overlay-hobby .overlay-hobby #hobby-container-info, #dynamic-content #hobby .container-see-more-overlay-uni .overlay-uni #uni-container-info,
  #dynamic-content #hobby .container-see-more-overlay-uni .overlay-uni #carrer-container-info,
  #dynamic-content #hobby .container-see-more-overlay-uni .overlay-uni #hobby-container-info,
  #dynamic-content #hobby .container-see-more-overlay-uni .overlay-carrer #uni-container-info,
  #dynamic-content #hobby .container-see-more-overlay-uni .overlay-carrer #carrer-container-info,
  #dynamic-content #hobby .container-see-more-overlay-uni .overlay-carrer #hobby-container-info,
  #dynamic-content #hobby .container-see-more-overlay-uni .overlay-hobby #uni-container-info,
  #dynamic-content #hobby .container-see-more-overlay-uni .overlay-hobby #carrer-container-info,
  #dynamic-content #hobby .container-see-more-overlay-uni .overlay-hobby #hobby-container-info,
  #dynamic-content #hobby .container-see-more-overlay-carrer .overlay-uni #uni-container-info,
  #dynamic-content #hobby .container-see-more-overlay-carrer .overlay-uni #carrer-container-info,
  #dynamic-content #hobby .container-see-more-overlay-carrer .overlay-uni #hobby-container-info,
  #dynamic-content #hobby .container-see-more-overlay-carrer .overlay-carrer #uni-container-info,
  #dynamic-content #hobby .container-see-more-overlay-carrer .overlay-carrer #carrer-container-info,
  #dynamic-content #hobby .container-see-more-overlay-carrer .overlay-carrer #hobby-container-info,
  #dynamic-content #hobby .container-see-more-overlay-carrer .overlay-hobby #uni-container-info,
  #dynamic-content #hobby .container-see-more-overlay-carrer .overlay-hobby #carrer-container-info,
  #dynamic-content #hobby .container-see-more-overlay-carrer .overlay-hobby #hobby-container-info,
  #dynamic-content #hobby .container-see-more-overlay-hobby .overlay-uni #uni-container-info,
  #dynamic-content #hobby .container-see-more-overlay-hobby .overlay-uni #carrer-container-info,
  #dynamic-content #hobby .container-see-more-overlay-hobby .overlay-uni #hobby-container-info,
  #dynamic-content #hobby .container-see-more-overlay-hobby .overlay-carrer #uni-container-info,
  #dynamic-content #hobby .container-see-more-overlay-hobby .overlay-carrer #carrer-container-info,
  #dynamic-content #hobby .container-see-more-overlay-hobby .overlay-carrer #hobby-container-info,
  #dynamic-content #hobby .container-see-more-overlay-hobby .overlay-hobby #uni-container-info,
  #dynamic-content #hobby .container-see-more-overlay-hobby .overlay-hobby #carrer-container-info,
  #dynamic-content #hobby .container-see-more-overlay-hobby .overlay-hobby #hobby-container-info {
    display: grid;
    place-self: center;
    width: 40em;
  }
}

/* ----- IMPORTS ----- */
/* ----- FONTS ----- */
/* -- type -- */
/* -- size -- */
/* -- weight -- */
/* -- style -- */
/* ----- COLORS ----- */
/* -- main -- */
/* -- others -- */
/* ----- DEFAUTLT ARRANGEMENTS ----- */
/* ----- SPECIFIC ARRANGEMENTS ----- */
/* -- padding -- */
/* -- margin -- */
/* ----- OTHERS ----- */
footer {
  background-color: #406ce7;
  font-family: "Cormorant Garamond", serif;
}
footer .container-general-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
@media screen and (min-width: 768px) {
  footer .container-general-footer .container-creator-links .menu-creator-links {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  footer .container-general-footer .container-creator-links .menu-creator-links li {
    margin-left: 0.5em;
  }
}
footer .container-general-footer .container-creator-links .menu-creator-links li .creator-links {
  color: white;
}
footer .container-general-footer .container-creator-name {
  text-align: right;
}
footer .container-general-footer .container-creator-name .desc a {
  color: white;
}

/* ----- MODULES ----- */
/* ----- IMPORTS ----- */
/* ----- FONTS ----- */
/* -- type -- */
/* -- size -- */
/* -- weight -- */
/* -- style -- */
/* ----- COLORS ----- */
/* -- main -- */
/* -- others -- */
/* ----- DEFAUTLT ARRANGEMENTS ----- */
/* ----- SPECIFIC ARRANGEMENTS ----- */
/* -- padding -- */
/* -- margin -- */
/* ----- OTHERS ----- */
.btn-primary {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-cta-access-study {
  padding: 0.5em;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  background-color: transparent;
  border: 0.01em solid black;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}
.btn-cta-access-study:hover {
  background-color: #406ce7;
  color: white;
}

/* ----- STATE ----- */
/* ----- THEME ----- *//*# sourceMappingURL=main.css.map */