<footer>
    <div class="container-general-footer">
        <div class="container-creator-links">
            <ul class="menu-creator-links">
                <li><a href="https://www.linkedin.com/in/nathan-monteiro/" target="_blank" class="creator-links">Linkedin</a></li>
                <li><a href="https://www.instagram.com/nathanmontt/" target="_blank" class="creator-links">Instagram</a></li>
                <li><a href="https://github.com/nathanmontt" target="_blank" class="creator-links">Github</a></li>
            </ul>
        </div>
        <div class="container-creator-name">
            <p class="desc">Feito por <br><a href="https://github.com/nathanmontt" target="_blank">Nathan Monteiro</a></p>
        </div>
    </div>
</footer>