<header>
    <div class="container-navbar">
        <a href="/src/index.html" class="logo">E³</a>

        <div class="container-menu-options">
            <!-- <button class="menu-btn-cta btn-primary">menu</button> -->

            <ul class="menu-options-holder">
                <li class="options-holder"><a href="#" class="links">guias</a></li>
                <li class="options-holder"><a href="#" class="links">sobre</a></li>
                <li class="options-holder"><a href="#" class="links">contato</a></li>
                <li class="options-holder">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M480-360 280-560h400L480-360Z"/></svg> 
                </li>
            </ul>
        </div>
    </div>
</header>