<header>
    <div class="container-navbar">
        <a href="/src/index.html" class="logo">E³</a>

        <div class="container-menu-options">
            <!-- <button class="menu-btn-cta btn-primary">menu</button> -->

            <ul class="menu-options-holder">
                <li class="options-holder"><a href="#" class="links">guias</a></li>
                <li class="options-holder"><a href="#" class="links">sobre</a></li>

                <li class="options-holder"><a href="#" class="links">contato</a></li>
            </ul>
        </div>
    </div>
</header>