<header>
    <div class="container-navbar">
        <a href="/src/index.html" class="logo">E³</a>

        <div class="container-menu-options">
            <button class="open-close-menu">Menu</button>

            <ul class="menu-options-holder">
                <li class="options-holder"><a href="#" class="links">guia</a></li>
                <li class="options-holder"><a href="#" class="links">sobre</a></li>
                <!-- <li class="options-holder"><a href="#" class="links">instalação</a></li> -->
                <li class="options-holder"><a href="#" class="links">contato</a></li>
            </ul>
        </div>
    </div>
</header>