@import 'variables';

/* Classes usadas diretamente no HTML */

/* -- DISPLAY -- */
.hidden { display: none; }

/* -- MEASURES - MARGIN -- */
.mg-1 {margin: 1em;}

.mt-05 { margin-top: 0.5em; }
.mt-1 { margin-top: 1em; }
.mt-2 { margin-top: 2em; }
.mt-5 { margin-top: 5em; }

.mr-05 { margin-right: 0.5em; }
.mr-1 { margin-right: 1em; }
.mr-2 { margin-right: 2em; }
.mr-5 { margin-right: 5em; }
.mr-10 { margin-right: 10em; }

.ml-1 { margin-left: 1em; }
.ml-2 { margin-left: 2em; }
.ml-5 { margin-left: 5em; }

.mb-05 { margin-bottom: 0.5em; }
.mb-1 { margin-bottom: 1.2em; }
.mb-2 { margin-bottom: 2em; }
.mb-5 { margin-bottom: 5em; }

/* -- MEASURES - PADDING -- */
.pg-1 { padding: 1em; }

.pt-05 { padding-top: 0.5em; }
.pt-1 { padding-top: 1em; }
.pt-2 { padding-top: 2em; }
.pt-5 { padding-top: 5em; }

.pb-05 { padding-bottom: 0.5em; }
.pb-1 { padding-bottom: 1em; }
.pb-2 { padding-bottom: 2em; }
.pb-5 { padding-bottom: 5em; }

/* -- BORDER -- */
.bt { border-top: $border-primary-size solid $color-thr-gray; }
.br { border-right: $border-primary-size solid $color-thr-gray; }
.bb { border-bottom: $border-primary-size solid $color-thr-gray; }
.bl { border-left: $border-primary-size solid $color-thr-gray; }

.line-separator {
    position: relative;
    content: '';
    right: 0;
    left: 0;
    border: $border-primary-size solid $color-thr-gray;
    width: 10em;
    height: $border-primary-size;
    margin: 0 0 0 $size-big;

    @media (min-width: 600px) {
        width: 20em;
    }
    @media (min-width: 900px) {
        width: 30em;
    }
}