@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// FONTS
$main-font: 'Fira Sans', sans-serif;

$font-size-small: .8em;
$font-size-med: 1.1em;
$font-size-big: 1.7em;
$font-size-bigger: 2em;

$font-weight-title: 500;
$font-weight-parag: 300;
$font-weight-descs: 400;

$font-italic: italic;

// COLORS
$color-primary: black;
$color-secondary: white;
$color-tertiary: #2e59ce;
$color-quaternary: #1b1b1b;

$color-gray: #9c9c9c92;
$color-sec-gray: #5f5f5f;
$color-thr-gray: #a5a5a5;


// SPECIFIC SIZES
$size-small: 0.5em;
$size-medium: 1em;
$size-between-small-medium: 1.5em;
$size-big: 2em;
$size-min-height: 100vh;

// BORDER
$border-none: none;
$border-no-color: transparent;
$border-primary-size: 0.01em;
$border-second-size: 0.1em;