/* ----- IMPORTS ----- */
// Secondary Font
// Main Font


/* ----- FONTS ----- */
/* -- type -- */

/* -- size -- */

/* -- weight -- */
$font-weight-title: 500;
$font-weight-parag: 300;
$font-weight-descs: 400;

/* -- style -- */
$font-style: italic;


/* ----- COLORS ----- */
/* -- main -- */
$primary: black;
$secondary: white;


/* ----- DEFAUTLT ARRANGEMENTS ----- */
$padding-small: 0.5em;
$padding-medium: 1em;
$padding-big: 2em;

$margin-small: 0.4em;
$margin-medium: 1em;
$margin-big: 1.4em;


/* ----- SPECIFIC ARRANGEMENTS ----- */
/* -- padding -- */
$padding-small-top: 0.7em;
$padding-small-right: 0.7em;
$padding-small-bottom: 0.7em;
$padding-small-left: 0.7em;

$padding-medium-top: 1.1em;
$padding-medium-right: 1.1em;
$padding-medium-bottom: 1.1em;
$padding-medium-left: 1.1em;

$padding-big-top: 2em;
$padding-big-right: 2em;
$padding-big-bottom: 2em;
$padding-big-left: 2em;

/* -- margin -- */
$margin-small-top: 0.7em;
$margin-small-right: 0.7em;
$margin-small-bottom: 0.4em;
$margin-small-left: 0.7em;

$margin-medium-top: 1.1em;
$margin-medium-right: 1.1em;
$margin-medium-bottom: 1.1em;
$margin-medium-left: 1.1em;

$margin-big-top: 2em;
$margin-big-right: 2em;
$margin-big-bottom: 2em;
$margin-big-left: 2em;


/* ----- OTHERS ----- */
$no-border: none;
$no-border-bg-color-btn: transparent;
$cursor-mode: pointer;

$border-size: 0.01em;
$border-second-size: 0.1em;

$main-height: 100vh;