@import '../base/variables';

#dynamic-content {
    #university, #carrer, #hobby {
        .container-accordion {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: $cursor-mode-pointer;
            // width: 100%;
            
            .indicator-text {
                font-family: $main-font;
                font-weight: $font-weight-title;
                font-size: $font-size-med;
                padding: $padding-medium-top 0 $padding-medium-bottom 0;
            }

            .open-close-accordion {
                font-size: $font-size-big;
            }
        }

        .container-see-more-overlay-uni, 
        .container-see-more-overlay-carrer, 
        .container-see-more-overlay-hobby {
            .overlay-uni,
            .overlay-carrer,
            .overlay-uni-hobby {
                position: fixed;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;

                background-color: #000000c6;
                // border: 3px solid red;
                
                overflow-y: scroll;

                .close-modal-one,
                .close-modal-two,
                .close-modal-three {
                    margin: $margin-medium 0 $margin-medium $margin-medium;
                    color: $secondary;
                }

                #uni-container-info, 
                #carrer-container-info, 
                #hobby-container-info {
                    margin: 1em;
                    background-color: $secondary;
                }
            }
        }
        
        .container-see-more-overlay{
            .overlay-btn-cta-one,
            .overlay-btn-cta-two,
            .overlay-btn-cta-three{
                margin-bottom: $margin-medium-bottom;
            }

            #uni-container-info,
            #carrer-container-info,
            #hobby-container-info {
                // height: 15em;
                margin-bottom: .5em;
                // background: linear-gradient(180deg, #6c6c6c00 60%, #2f2f2f 100%);
                // overflow-y: hidden;
            }
        }
    }
}