@import '../base/variables';

#dynamic-content {
    .container-accordion {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .indicator-text {}
        .open-close-accordion {}
    }
}