@import '../base/variables';

footer {
    background-color: $tertiary;
    font-family: $main-font;
    .container-general-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $padding-medium;
        .container-creator-links {
            .menu-creator-links {
                @media screen and (min-width: 768px) {
                    display: flex;
                }

                li {
                    @media screen and (min-width: 768px) {
                        margin-left: .5em;
                    }
                    
                    .creator-links {
                        color: $secondary;
                    }
                }
            }
        }

        .container-creator-name {
            text-align: right;
            .desc {
                a{
                    color: $secondary;
                }
            }
        }
    }
}