@import '../base/variables';

header {
    display: flex;
    justify-content: space-between;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    z-index: 1;
    padding: $size-medium;
    nav {
        display: flex;
        flex-direction: column;
        align-items: end;
        .open-close-hamb-menu {
            text-align: right;
        }
        ul {
            position: absolute;
            margin-top: $size-big;
            .options-holder {
                text-align: right;
                .links {
                }
            }
        }
    }
}