@import '../base/variables';

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    .container-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: $margin-medium;
        .logo {
            font-style: $font-style-italic;
            font-size: $font-size-big;

            color: $secondary;
        }

        .container-menu-options {
            .menu-options-holder {
                display: flex;
                justify-content: center;
                .options-holder {
                    margin: $margin-small;
                    font-weight: $font-weight-descs;
                    font-family: $main-font;
                    .links {
                        color: $secondary;
                    }
                    
                    #icon {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
    }
}