@import '../base/variables';

#hero-content {
    .container-general {
        min-height: $main-height;

        background-color: $tertiary;
        .container-main-texts {
            min-height: $main-height;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .logo-name-project {
                // font-style: $font-style-italic;
                font-size: $font-size-big-hero;
            }
            
            .desc-project {
                font-family: $main-font;
                font-size: 1.2em;
                color: $secondary;
            }
        }
        
        .icon-holder {
            position: absolute;
            right: 0;
            bottom: 1.5em;
            left: 0;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .explore {
                color: $secondary;
                font-family: $main-font;
            }

            #icon {
                transform: translateY(.5em);
                width: 1.1em;
            }
        }
    }
}