@import '../base/variables';

// LOCAL VARIABLES
$hero-hight: 100vh;
$bg-color-overlay: #1111118c;

main {
    #hero {        
        // background-image: url("/src/assets/img/bench-accounting-hero-bg-2.jpg");
        // background-size: cover;
        // background-position: center;
        // background-repeat: no-repeat;
        
        .container-name-logo-hero {
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: $hero-hight;

            background-color: $bg-color-overlay;

            .container-padding-in-front-overlay {
                padding: $size-big;
                color: $color-secondary;
                .application-name-title {
                    font-size: 3em;
                }
                
                .container-description-bellow-application-name {
                    @media (min-width: 768px) {
                        display: flex;
                        flex-direction: column;
                    }

                    // .first-description {}
                    .second-description {
                        font-size: .9em;
                        font-weight: $font-weight-parag;

                        @media (min-width: 768px) {
                            margin: $size-medium 5em;
                        }
                        .redirect-link {
                            background-color: $color-tertiary;
                            color: $color-secondary;
                            padding: 0 .2em;
                        }
                    }
                }
            }
        }
    }
}