@import '../base/variables';

#hero-content {
    .container-general{
        border: 3px solid red;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-color: #406ce7;
        .container-main-texts {
            min-height: $second-height;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .name-project {}
            .desc-project {
                font-family: $main-font;
            }
        }
        
        .icon-holder {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            text-align: center;
            .link-to-content {
                #icon {
                    width: 1em;
                }
            }

            .explore {}
        }
    }
}